<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>NPR News Scraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <header id="top">
        <!-- Large screen top nav bar -->
        <nav>
            <div class="nav-wrapper nav">
                <a href="#home" class="brand-logo">NPR News Scraper</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a class="waves-effect btn" href="/">Home</a></li>
                    <li class="active"><a class="waves-effect btn" href="/saved">Saved Articles</a></li>
                    <li class="active"><a class="waves-effect btn scrapeBtn" href="/scrape">Scrape Articles</a></li>
                    <li class="active"><a class="waves-effect btn clearBtn">Clear All Articles</a></li>
                </ul>
            </div>
        </nav>
        <!-- Side bar for small screen -->
        <ul class="sidenav" id="mobile-demo">
            <li class="active"><a class="waves-effect btn" href="/">Home</a></li>
            <li class="active"><a class="waves-effect btn" href="/saved">Saved Articles</a></li>
            <li class="active"><a class="waves-effect btn scrapeBtn" href="/scrape">Scrape Articles</a></li>
            <li class="active"><a class="waves-effect btn clearBtn">Clear All Articles</a></li>
        </ul>
    </header>
    <main>
        {{{body}}}
        <!-- Modal Saved -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Article Saved!</h4>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
            </div>
        </div>

    </main>
    <footer class="page-footer center">
        <p> &copy; 2018 NPR News Scraper </p>
    </footer>
    <!-- JS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!-- app.js -->
    <script src="app.js"></script>
</body>

</html>